* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url(https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks_mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    height: 100%;
    width: 100%;
}
nav{
    height: 10vh;
    width: 100%;
    display: flex;

}
.logo{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: end;
}
.menu{
    height: 100%;
    width: 50%;
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 30px;
}
.menu p{
    font-size: 23px;
}
.icons{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 30px;
}
.icons p{
    font-size:20px ;
    font-weight: 100;
}
.box1{
    height: 28px;
    width: 28px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 2px;
}
.box2{
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
}
.main{
    height: 90vh;
    width: 100%;
}
.page1{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}
.b1{
    height: 50%;
    width: 70%;
    padding-left: 200px;
    padding-top: 20px;
}
.b1 p{
    font-size: 70px;
}
.b2{
    margin-left: 170px;
    height: 50%;
    width: 60%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.x{
    height: 90%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 23px;
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.x p{
    font-size: 35px;
}
.overlay1{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 23px; 
    position: absolute;
    bottom: -100%;
}
.x:hover .overlay1{
    bottom: 0;
}
.y{
    height: 90%;
    width: 30%;
     background-color: rgba(255, 255, 255, 0.625);
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.y p{
    font-size: 35px;
}
.overlay2{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 23px; 
    position: absolute;
    bottom: -100%;
}
.y:hover .overlay2{
    bottom: 0;
}
.z{
    height: 90%;
    width: 30%;
     background-color: rgba(255, 255, 255, 0.625);
     border-radius: 23px;
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease 0.5s;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.z p{
    font-size: 35px;

}
.overlay3{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 23px; 
    position: absolute;
    bottom: -100%;
}
.z:hover .overlay3{
    bottom: 0;
}
.overlay1 p{
    font-size: 10px;
    margin:20px 20px ;
}
.overlay2 p{
    font-size: 10px;
    margin:20px 20px ;
}
.overlay3 p{
    font-size: 10px;
    margin:20px 20px ;
}
.marqee{
    height: 100%;
    width: 100%;
    background-color: #DFDAC6;
    position: relative;
    overflow: hidden;
}
.marqee img{
    scale: 0.6;
    height: 100%;
    width: 100%;
}
.overlaymarqee{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.019);
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.overlay_divs{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.overlay_top{
    width: max-content;
    display: flex;
    gap: 20px;
    animation: a 12s linear infinite;
}
.texts{
    flex-shrink: 0;
}

@keyframes a {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}
.overlay_bottom{
    width: max-content;
    display: flex;
    gap:20px;
    animation: b 12s linear infinite;
}
.texts{
    flex-shrink: 0;
}
.texts h1{
    font-size: 60px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

@keyframes b {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
.page3{
    height: 100%;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    transition: all ease 0.5s;
}

.cards:hover{
    height: 380px;
    width: 380px;
}
.c1:hover  ~ .i1{
  opacity: 1;
}
.c2:hover  ~ .i2{
  opacity: 1;
}
.c3:hover  ~ .i3{
  opacity: 1;
}
.page3 img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
.cards{
    position: relative;
    height: 280px;
    width: 280px;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    z-index: 2;

}
.b2{
    margin-left: 170px;
    height: 50%;
    width: 60%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.c1{
    height: 90%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 23px;
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.c1 p{
    font-size: 35px;
}
.overlay1{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 23px; 
    position: absolute;
    bottom: -100%;
}
.c1:hover .overlay1{
    bottom: 0;
}
.c2{
    height: 90%;
    width: 30%;
     background-color: rgba(255, 255, 255, 0.625);
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.c2 p{
    font-size: 35px;
}
.overlay2{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 23px; 
    position: absolute;
    bottom: -100%;
}
.c2:hover .overlay2{
    bottom: 0;
}
.c3{
    height: 90%;
    width: 30%;
     background-color: rgba(255, 255, 255, 0.625);
     border-radius: 23px;
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease 0.5s;
    overflow: hidden;
    backdrop-filter: blur(10px);
}
.c3 p{
    font-size: 35px;

}
.overlay3{
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 23px; 
    position: absolute;
    bottom: -100%;
}
.c3:hover .overlay3{
    bottom: 0;
}
.overlay1 p{
    font-size: 20px;
    margin:20px 20px ;
}
.overlay2 p{
    font-size: 20px;
    margin:20px 20px ;
}
.overlay3 p{
    font-size: 20px;
    margin:20px 20px ;
}